%box {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.box-green {
  @extend %box;
  background: green;
}

.box-red {
  @extend %box;
  background: red;
}

.box-blue {
  @extend %box;
  background: blue;
}
